#autorization {
  width: 100%;
  max-width: 130px;
  font-size: 15px;

  margin-top: 10px;
  margin-bottom: 15px;
}

.gender {
  margin: 20px 0;
}

textarea {
  width: 320px;
  height: 50px;
}

#wom {
  margin-bottom: 15px;
}
#br{
  margin-bottom: 15px;
}

#farmer{
  margin-bottom: 15px;
}